.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 371px 32px 93px;
}

/* hero hover button color   #188CE8  */
.header-icon {
  margin-right: 10px;
}

.wite {
  color: var(--white);
  font-family: "Raleway";
  font-style: normal;
  line-height: 1.19;
}

.logo {
  font-size: 26px;
  color: var(--blue);
  line-height: 1.19;
  letter-spacing: 0.02em;
}
.logo-header {
  color: var(--black);
  font-family: "Raleway";
  font-style: normal;
}

.logo-footer {
  display: block;
  margin-bottom: 10px;
}
.nav-g:focus,
.address-w:focus,
.contacts:focus {
  color: var(--blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filter-current {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.address:focus:focus {
  color: var(--white);
}

.address:hover,
.address-w:hover {
  color: var(--blue);
}

.contacts {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

ro {
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fons.jpg);

  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  background-color: var(--dark-navy-blue);
  background-size: auto;
  margin: 0 auto;
}

.section-no-top-padding {
  padding-top: 0;
}
.footer-container {
  display: flex;
  justify-content: flex-start;
}

.footer-icon-box {
  margin-left: 70px;
  display: inline-block;
}

.footer-socials-item {
  display: flex;
}
.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--blue);
}
.footer-socials-icon {
  fill: currentColor;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 15px;
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.heads-clients {
  margin-bottom: 50px;
}

.address {
  font-style: normal;
}

.footer {
  display: flex;
  background-color: var(--dark-navy-blue);
  padding: 60px 0;
}
.save-newsletter {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: var(--white);
  padding-top: 0;
}

.address {
  display: flex;
  color: var(--light-grey);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-w {
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.frame-newsletter {
  width: 358px;
  height: 50px;
  border: 1px solid var(--newsletter-border);
  border-radius: 4px;
  margin: 0px;

  background-color: var(--dark-navy-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: var(--white);
  outline: none;
}
.frame-newsletter::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--light-grey);
  padding-left: 16px;
}
.btn-newsletter {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 35px;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white);
  box-shadow: 0px 4px 4px var(--shadow-teamat);
}
.icon-newsletter {
  fill: var(--white);
  transition: transform var(--transition-active);
}
.btn-newsletter:hover {
  cursor: pointer;
}
.btn-newsletter:hover .icon-newsletter {
  transform: scale(1.3);
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsleter-footer {
  padding-left: 78px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.project-links:focus .project-overlay {
  transform: translateY(0px);
}

/*=====Modal form====*/
