*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 30px;
}
:focus {
  outline: none;
}
.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 371px 32px 93px;
}

/* hero hover button color   #188CE8  */

:root {
  --icon-color: #afb1bb;
  --main-color: #212121;
  --sub-text-color: rgba(255, 255, 255, 0.6);
  --sub-font-size: 16px;
  --main-background-color: #ffffff;
  --focus-hover-background-color: #2196f3;
  --focus-hover-color-button: #ffffff;
  --focus-hover-color-text: #2196f3;
  --active-color: #2196f3;
  --adress-g: #757575;
  --black: #000000;
  --button-focus: #188ce8;
  --mu-hero: #2f303a;
  --team-backgraund: #f5f4fa;
  --border: #ececec;
  --border-portfolio: #eeeeee;
  --modal-background: rgba(0, 0, 0, 0.2);
}
.nav-contacts {
  display: flex;
}
.header-icon {
  margin-right: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.we-do-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.group-list {
  display: flex;
}
.group-item:not(:last-child) {
  margin-right: 30px;
}

.group-item {
  width: 270px;
}
.address-g {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio);
  border-top: none;
}
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-list {
  display: flex;
  align-items: center;
}
.header-icons {
  fill: currentColor;
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon-link:hover use {
  fill: var(--active-color);
}
.header-icon-link:focus use {
  fill: var(--active-color);
}
.header-contact-item-o {
  display: block;
  margin: 32px 0 31px 0;
}
.header-contact-item-o:not(:last-child) {
  margin-right: 50px;
}

.navbar-item {
  display: block;
  padding: 32px 0 31px 0;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--main-color);
  font-size: var(--main-font-size);
  background-color: var(--main-background-color);
}
.hero-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--border);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wite {
  color: var(--main-background-color);
  font-family: "Raleway";
  font-style: normal;
  line-height: 1.19;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: var(--active-color);
  line-height: 1.19;
  letter-spacing: 0.02em;
}
.logo-black {
  color: var(--black);
  font-family: "Raleway";
  font-style: normal;
}

.logo-footer {
  display: block;
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  margin-left: 97px;
}

.navbar-space:not(:last-child) {
  margin-right: 46px;
}

.navbar-link:focus {
  color: var(--focus-hover-color-text);
}
.nav-g:focus,
.address-w:focus,
.contacts:focus {
  color: var(--active-color);
}
.current-link:focus,
.current-link:hover,
.navbar-contact-link:focus,
.header-contact-link:focus,
.navbar-contact-link:hover,
.header-contact-link:hover {
  color: var(--focus-hover-color-text);
}

.navbar-link {
  padding: 32px 0 31px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-link:hover,
.contacts:hover {
  color: var(--focus-hover-color-text);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar-linkss {
  position: relative;
  color: var(--active-color);
}

.navbar-linkss::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 2px;
  bottom: 0;
}
.vchat-work {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  position: absolute;

  padding-top: 27px;
  padding-bottom: 27px;

  bottom: 0;
  right: 0;
  left: 0;
  white-space: nowrap;
  background: rgba(47, 48, 58, 0.8);
}
.hero-button:focus {
  background-color: var(--button-focus);
}

.hero-button:hover {
  background-color: var(--button-focus);
}

.filter-button:focus {
  background-color: var(--focus-hover-background-color);
}

.filter-button:hover {
  background-color: var(--focus-hover-background-color);
}
.filter-current {
  background-color: var(--focus-hover-background-color);
  color: var(--focus-hover-color-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button:focus,
.filter-button:hover {
  background-color: var(--focus-hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.address:focus,
.filter-button:focus {
  color: var(--focus-hover-color-button);
}

.address:hover,
.address-w:hover {
  color: var(--active-color);
}
.filter-button:hover {
  color: var(--focus-hover-color-button);
}
.backdrop {
  background: var(--modal-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition-delay: 500ms;
}
.backdrop.is-hidden .modal-box {
  transform: translate(-50%, -50%) scale(0.25);
}
.modal-box {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.nav-g:hover,
.address-g:hover {
  color: var(--active-color);
}
.address:focus,
.address-g:focus {
  color: var(--active-color);
}
.contacts {
  color: var(--sub-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.atut {
  padding: center;
}
.project-overline {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px 91px 24px;
  color: var(--main-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-description:hover .project-overline {
  transform: translateY(0px);
}

.project-link:focus .project-overline {
  transform: translateY(0px);
}
.project-card-overlay-text {
  font-style: inherit;
}
.project-description {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 294;
  overflow: hidden;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon-link {
  display: flex;
  align-items: center;
  color: var(--adress-g);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fons.jpg);

  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  background-color: var(--mu-hero);
  background-size: auto;
  margin: 0 auto;
}

.hero-button {
  font-family: Roboto, sans-serif;
  background-color: var(--active-color);
  color: var(--main-background-color);
  font-weight: 700;
  line-height: 1.8;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.advantages-icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--team-backgraund);
  border-radius: 4px;
  margin-bottom: 30px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--main-background-color);
  color: var(--icon-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icons:hover,
.socials-icons:focus {
  fill: var(--main-background-color);
}
.socials-icons {
  fill: currentColor;
}
.group-heading {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  margin-bottom: 30px;
}
.group-detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-g);
}
.team-container {
  display: flex;
  flex-direction: column;
}

.section-no-top-padding {
  padding-top: 0;
}
.footer-container {
  display: flex;
  justify-content: flex-start;
}

.we-do-container {
  display: flex;
  flex-direction: column;
}
.we-do-item {
  position: relative;
}
.we-do-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-box {
  margin-left: 70px;
  display: inline-block;
}

.footer-socials-item {
  display: flex;
}
.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-link:focus,
.socials-link:hover {
  background-color: var(--focus-hover-background-color);
  color: var(--focus-hover-color-button);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--active-color);
}
.footer-socials-icon {
  fill: currentColor;
}
.clients-link:hover .clients-link use {
  fill: var(--active-color);
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-top: 15px;
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.clients-link:focus,
.clients-link:hover {
  border: 1px solid var(--active-color);
  color: var(--active-color);
}
.section-heading {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-icon {
  fill: currentColor;
}

.clients-icon:hover {
  color: var(--active-color);
}
.section-heading-team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heads-clients {
  margin-bottom: 50px;
}
.section-team {
  background-color: var(--team-backgraund);
}

.team-name {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  color: var(--main-color);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--adress-g);
}

.filter-button {
  font-family: Roboto, sans-serif;
  background-color: var(--team-backgraund);
  padding: 6px 26px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--adress-g);
}
.address {
  font-style: normal;
}

.footer {
  display: flex;
  background-color: var(--mu-hero);
  padding: 60px 0;
}

.address {
  display: flex;
  color: var(--sub-text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-w {
  color: var(--main-background-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-link {
  display: block;
}

.project-links:focus .project-overlay {
  transform: translateY(0px);
}
.projects-item:focus,
.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-link:focus,
.projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-item {
  gap: 30px;
  background: var(--main-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
