.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-item:focus,
.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-item {
  gap: 30px;
  background: $white;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.projects-link {
  display: block;
}
.projects-link:focus,
.projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-description {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 294;
  overflow: hidden;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-description:hover .project-overline {
  transform: translateY(0px);
}
.project-overline {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px 91px 24px;
  color: $white;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:focus .project-overline {
  transform: translateY(0px);
}
.project-card-overlay-text {
  font-style: inherit;
}
.footer-portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  border: 1px solid $creamy;
  border-top: none;
}
.projects-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $grey;
}
