.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &_.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
