h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--dark-black);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 30px;
}
:focus {
  outline: none;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--dark-black);
  font-size: var(--main-font-size);
  background-color: var(--white);
}
