$icon-color: #afb1bb;
$main-color: #212121;
$sub-text-color: rgba(255, 255, 255, 0.6);
$main-background-color: #ffffff;
$focus-hover-background-color: #2196f3;
$focus-hover-color-text: #2196f3;
$active-color: #2196f3;
$adress-g: #757575;
$focus-hover-color-button: #ffffff;
$black: #000000;
$button-focus: #188ce8;
$mu-hero: #2f303a;
$team-backgraund: #f5f4fa;
$border: #ececec;
$border-portfolio: #eeeeee;
$modal-background: rgba(0, 0, 0, 0.2);
$newsletter-color-font: rgba(255, 255, 255, 0.6);
$newsletter-border: rgba(255, 255, 255, 0.302);
$shadow-teamat: rgba(0, 0, 0, 0.25);
