.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: $white;
  color: $slightly-grey;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:focus,
.socials-link:hover {
  background-color: $blue;
  color: $white;
}
.socials-icons:hover,
.socials-icons:focus {
  fill: $white;
}
.socials-icons {
  fill: currentColor;
}
